.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.1;
  transition: all 0.3s linear;
}

.task-item:hover {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.task-item__btn {
  width: 30px;
  height: 30px;

  margin: 0 2px;
  padding: 0 4px;
  border: 1px solid grey;
  background-color: transparent;
  border-radius: 3px;
}

.task-item__text {
  cursor: pointer;
}

.task-item__text.important {
  font-weight: bold;
  color: grey;
}

.task-item__text.done {
  text-decoration: line-through;
}
