{
  "presets": [[ "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "debug": true,
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}